{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="{% static 'css/accueil_inscription.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Créer un compte</h2>
        <form method="POST" action="{% url 'traitement_inscription' %}">
            {% csrf_token %}

            {% if erreur %}
                <p style = "color:red;">{{erreur}} </p>
            {% endif %}

            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" required>

            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" name="prenom" required>

            <label for="age">Âge</label>
            <input type="number" id="age" name="age" min="0" required>

            <label for="mot_de_passe">Mot de passe</label>
            <input type="password" id="mot_de_passe" name="mot_de_passe" required>

            <button type="submit">S'inscrire</button>
        </form>
    </div>
</body>
</html>
